@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border font-sans;
    }

    body {
        @apply h-screen text-white bg-dark-1;
    }
}

@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-items {
        @apply flex items-center;
    }

    .center-element {
        @apply w-[90%] mx-auto my-10;
    }

    .center-section {
        @apply w-[90%] mx-auto my-4;
    }

    .open {
        animation : animation-in 0.3s ease forwards;
    }

    .close {
        animation : animation-out 0.3s ease forwards;
    }

    @keyframes animation-in {
        0% {
            left : -200px;
        }
        100% {
            left: 0;
        }
    }

    @keyframes animation-out {
        0% {
            left: 0;
        }
        100% {
            left: -200px;
        }
    }


    .rotate-infinite {
        animation: rotate 1s linear infinite;
    }

    @keyframes rotate {
        0% {
            transform : rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .toBottom {
        animation: toBottom 1s ease backwards;
    }

    @keyframes toBottom {
        0% {
            top: -100%;
        }
        100% {
            top: 0;
        }
    }
    
    .toTop {
        animation: toTop 1s ease backwards;
    }

    @keyframes toTop {
        0% {
            top: 0;
        }
        100% {
            top: -100%;
        }
    }
}